<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ABC_Retail_v3</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ABC_Retail_v3.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-nav navbar-expand-lg navbar-light" style="background-color:black;height:40px;">
            <div class="container-fluid">
                <ul class="navbar-nav flex-grow-1" style="display: flex; justify-content: flex-end;">
                    <li class="nav-item">
                        <span>
                            <a class="navbar-text" asp-area="" asp-controller="Carts"
                               asp-action="Index" style="color:white;text-decoration: none;">View Cart</a>
                        </span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="white" class="bi bi-cart3" viewBox="0 0 16 16">
                            <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l.84 4.479 9.144-.459L13.89 4zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2" />
                        </svg>
                    </li>
                </ul>
            </div>
        </nav>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3" style="background-color:#E6B000;font-weight:bold;margin-top:0%;">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="" asp-action="" >ABC Retail</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1" @* style="display: flex; justify-content: flex-end;" *@>
                        @* <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="AppRoles" asp-action="Index" style="height:60px;padding-top:18px;color:black;">Roles</a>
                        </li>  *@
@*                         @if (@User.IsInRole("Customer"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Our_Work" style="height:60px;padding-top:18px;color:black;">Our Work</a>
                            </li>

                        }
                        @if (@User.IsInRole("Employee"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="AppRoles" asp-action="Index" style="height:60px;padding-top:18px;color:black;">Roles</a>
                            </li>
                        } *@
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="UploadProductImage" style="height:60px;padding-top:18px;color:black;">Upload Product Image</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="UploadFile" style="height:60px;padding-top:18px;color:black;">Upload File</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Contact_Us" style="height:60px;padding-top:18px;color:black;">Contact Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="About_Us" style="height:60px;padding-top:18px;color:black;">About Us</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    @{
        var date = DateTime.Now.Year;
    }

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @date - ABC Retail
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
